<div class="layout-dashboard">
    <div class="p-grid">




        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-3">
                            <span class="overview-icon">
                                <i class="pi pi-users"></i>
                            </span>
                <span class="overview-title">Customers</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">8272</div>
                        <div class="overview-subtext">Subscribed</div>
                    </div>
                    <div class="p-col-6">
                        <div class="overview-number">25402</div>
                        <div class="overview-subtext">Registered</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-1">
                            <span class="overview-icon">
                                <i class="pi pi-shopping-cart"></i>
                            </span>
                <span class="overview-title">Events</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">640</div>
                        <div class="overview-subtext">Pending</div>
                    </div>
                    <div class="p-col-6">
                        <div class="overview-number">1420</div>
                        <div class="overview-subtext">Completed</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-2">
                            <span class="overview-icon">
                                <i class="pi pi-dollar"></i>
                            </span>
                <span class="overview-title">Forums</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">$2,100</div>
                        <div class="overview-subtext">Expenses</div>
                    </div>
                    <div class="p-col-6">
                        <div class="overview-number">$9,640</div>
                        <div class="overview-subtext">Income</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-4">
                            <span class="overview-icon">
                                <i class="pi pi-comment"></i>
                            </span>
                <span class="overview-title">Complaints</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">12</div>
                        <div class="overview-subtext">New</div>
                    </div>
                    <div class="p-col-6">
                        <div class="overview-number">85</div>
                        <div class="overview-subtext">Responded</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-grid table-demo">
            <div class="p-col-12">
                <div class="card">
                    <p-table #dt [value]="allCandidacy" [(selection)]="selectedCustomers1" dataKey="id"
                             styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                             [filterDelay]="0" [globalFilterFields]="['title','location','phone','status']">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                Customers
                                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="title">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Offer Title
                                        <p-sortIcon field="title"></p-sortIcon>
                                        <p-columnFilter type="text" field="title" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="location">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Location
                                        <p-sortIcon field="location"></p-sortIcon>
                                        <p-columnFilter type="text" field="location" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="email" style="width: 20rem">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Email
                                        <p-sortIcon field="email"></p-sortIcon>
                                        <p-columnFilter type="text" field="email" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="date">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Date
                                        <p-sortIcon field="date"></p-sortIcon>
                                        <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="contact">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Contact
                                        <p-sortIcon field="contact"></p-sortIcon>
                                        <p-columnFilter type="text" field="contact" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="status">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Candidacy State
                                        <p-sortIcon field="status"></p-sortIcon>
                                        <p-columnFilter type="text" field="status" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th style="width: 8rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-customer>
                            <tr class="p-selectable-row">
                                <td>
                                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                                </td>
                                <td>

                                    <span class="p-column-title">Offer Title</span>
                                    {{customer.offer.title}}
                                </td>
                                <td>
                                    <span class="p-column-title">Location</span>

                                    <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{customer.offer.location}}</span>
                                </td>
                                <td>
                                    <span class="p-column-title">Email</span>
                                    <img src="assets/img/{{customer.candidate.usernameFragment}}" width="32"
                                         style="vertical-align: middle" class="profil-pic-round"/>
                                    <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{customer.candidate.email}}</span>
                                </td>
                                <td>
                                    <span class="p-column-title">Date</span>
                                    <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{customer.offer.createdAt | date: 'MM/dd/yyyy'}}</span>
                                </td>
                                <td>
                                    <span class="p-column-title">Contact</span>
                                    {{customer.candidate.phoneNumber}}
                                </td>
                                <td>
                                    <span>{{customer.candidacyState}}</span>
                                </td>
                                <td >

                                   <ul> <button pButton pRipple type="button" icon="pi pi-check"  class="p-button-rounded "></button></ul>
                                    <ul> <button pButton pRipple type="button" icon="pi pi-bell" (click)="holdCandidacy(customer.candidacyId)" class="p-button-rounded p-button-warning"></button></ul>
                                        <ul> <button  pButton pRipple type="button" icon="pi pi-times" (click)="restrainCandidacy(customer.candidacyId)" class="p-button-rounded p-button-danger"></button></ul>

                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No candidacies found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>



        <div class="p-col-12 p-lg-4">
            <div class="card widget-tasks">
                <h4>Tasks</h4>
                <p>Overview of your pending tasks.</p>
                <div>
                    <div class="task task-1">
                        <div class="task-name"><span>12 Orders</span> to fulfill</div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-2">
                        <div class="task-name"><span>40+ Payments</span> to withdraw</div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-3">
                        <div class="task-name"><span>4 Reports</span> to revise</div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-4">
                        <div class="task-name"><span>6 Questions</span> to respond</div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-5">
                        <div class="task-name"><span>2 Chargebacks</span> to review</div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <h4>Best Sellers</h4>
                <p>Most popular products from your collection.</p>

                <ul class="widget-image-list">
                    <li>
                        <span>Product</span>
                        <span>Sales</span>
                    </li>
                    <li>
                        <span>
                            <img src="assets/demo/images/product/bamboo-watch.jpg" alt="diamond-layout"/>
                            <span>Bamboo Watch</span>
                        </span>
                        <span class="listitem-value">82</span>
                    </li>
                    <li>
                        <span>
                            <img src="assets/demo/images/product/blue-band.jpg" alt="diamond-layout"/>
                            <span>Blue Band</span>
                        </span>
                        <span class="listitem-value">75</span>
                    </li>
                    <li>
                        <span>
                            <img src="assets/demo/images/product/game-controller.jpg" alt="diamond-layout"/>
                            <span>Game Controller</span>
                        </span>
                        <span class="listitem-value">64</span>
                    </li>
                    <li>
                        <span>
                            <img src="assets/demo/images/product/lime-band.jpg" alt="diamond-layout"/>
                            <span>Lime Band</span>
                        </span>
                        <span class="listitem-value">62</span>
                    </li>
                    <li>
                        <span>
                            <img src="assets/demo/images/product/gold-phone-case.jpg" alt="diamond-layout"/>
                            <span>Phone Case</span>
                        </span>
                        <span class="listitem-value">55</span>
                    </li>
                    <li>
                        <span>
                            <img src="assets/demo/images/product/green-t-shirt.jpg" alt="diamond-layout"/>
                            <span>Green T-Shirt</span>
                        </span>
                        <span class="listitem-value">48</span>
                    </li>
                    <li>
                        <span>
                            <img src="assets/demo/images/product/purple-t-shirt.jpg" alt="diamond-layout"/>
                            <span>Purple T-Shirt</span>
                        </span>
                        <span class="listitem-value">32</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-lg-8">
            <div class="card revenue">
                <h4>Offers Applications</h4>
                <p>Comparison of Candidacies and availables Offers.</p>
                <div class="revenue-chart-container">
                    <p-chart type="pie" id="revenue-chart" [data]="revenueChart"></p-chart>
                </div>
            </div>

            <div class="card">
                <h4>Team Members</h4>
                <ul class="widget-person-list">
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/amyelsner.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Amy Elsner</div>
                                <div class="person-subtext">Accounting</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope"></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog"></button>
                        </div>
                    </li>
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/annafali.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Anna Fali</div>
                                <div class="person-subtext">Procurement</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope" ></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog" ></button>
                        </div>
                    </li>
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/bernardodominic.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Bernardo Dominic</div>
                                <div class="person-subtext">Finance</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope" ></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog" ></button>
                        </div>
                    </li>
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/ivanmagalhaes.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Ivan Magalhaes</div>
                                <div class="person-subtext">Sales</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope" ></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog" ></button>
                        </div>
                    </li>
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/xuxuefeng.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Xuxue Feng</div>
                                <div class="person-subtext">Management</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope" ></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog" ></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
