<header>
    <div class="page-header min-vh-100" style="background-image: url(../../assets/img/bg0.jpg);" loading="lazy">
        <span class="mask bg-gradient-dark opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-white text-center">
                    <h2 class="text-white">Event and donation</h2>
                    <p class="lead"> HELP WOMEN</p>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto">
                <h3>  <h3 class="title mb-4">{{event.eventName}}</h3></h3>
                <p class="pe-5">Pain is what we go through as we become older. We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
                <a href="javascript:;" class="text-primary icon-move-right">More about us
                    <i class="fas fa-arrow-right text-sm ms-1"></i>
                </a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                <div class="p-3 info-horizontal">
                    <div>

                    </div>

                    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">



                    <div class="col-lg-15">
                        <br>
                        <br>
                        <h5> Comments</h5>
                        <div style="height: 200px" class="card max-height-vh-70 overflow-auto overflow-x-hidden mb-5 mb-lg-0">

                            <div class="card-body p-2">
                                <ng-container *ngFor="let Comment of event.eventcomment">
                                    <a href="javascript:;" class="d-block p-2">
                                        <div class="d-flex p-2">
                                            <img alt="Image" src="../assets/img/team-3.jpg" class="avatar shadow">
                                            <div class="ms-3">
                                                <h6 class="mb-0">{{Comment.user.username}}</h6>
                                                <p class="text-muted text-xs mb-2">{{myDate | date}} {{ myDate | date:'HH:mm:ss'}}</p>
                                                <span class="text-muted text-sm col-11 p-0 text-truncate d-block">{{Comment.commentBody}}</span>
                                            </div>
                                        </div>
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                        <div class="card-footer d-block">
                            <form class="align-items-center">

                                <div class="input-group input-group-outline d-flex">
                                    <label class="form-label">Type your message</label>
                                    <input type="text" class="form-control form-control-lg" name="commentBody" [(ngModel)]= "comment.commentBody">
                                    <button class="btn bg-gradient-primary mb-0"  (click)="addCommentEvent(event.eventId.toString())">
                                        <i class="material-icons">send</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


</div>
        </div>
    </div>

</section>










<div class="container"style="width: 500px">

</div>
<section class="py-1 mt-5">


    <section class="py-2">
        <div class="container">

            <div class="row">




                <div class="row mb-6 ">

                    <div class="col-lg-4 col-md-6">
                        <div class="card card-background align-items-start h-100">
                            <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                            <div class="card-body text-center z-index-3">
                                <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                <h4 class="text-white mb-1">help women with a donation</h4>
                                <p class="text-white opacity-8"> you don't worry your money will be in good hands</p>

                                <button class="btn btn-white btn-sm" type="button" name="button" (click)="redirectToPayement()">faire donation</button>

                            </div>
                            <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 d-flex flex-column">

                        <div class="card h-100 card-background mt-4 align-items-start">
                            <div class="full-background" style="background-image: url(&#39;https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/greece.jpg&#39;)"></div>
                            <div class="card-body z-index-3">
                                <i class="material-icons text-white text-3xl">volunteer_activism</i>
                            </div>
                            <div class="card-footer pb-3 pt-2 z-index-3">
                                <h4 class="text-white mb-1 cursor-pointer">participation</h4>

                                <button style="margin-right: 10px" type="button" class="btn btn-outline-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#exampleModalMessage">
                                    participation            </button>
                                <button  style="margin-right: 10px" type="button" class="btn btn-outline-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#exampleModalMessage1">
                                    cancel particpation            </button>



                            </div>
                            <span class="mask bg-gradient-dark border-radius-xl z-index-2 opacity-6"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</section>




<section class="py-1">
    <div class="container">
        <div *ngIf="display"  style="margin-right: 300px  ;height: 500px">
            <div style="height: 400px">
                <app-map using="displayOne" [event]="event"></app-map>
            </div>
        </div>
    </div>
</section>









<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="py-lg-5 py-0">
            <div class="container">
                <div class=" align-content-center">
                    <ngx-qrcode
                            [elementType]="elementType"
                            [value]="'nameofEvent: '+event.eventName+ '/       created By  : '+ event.createurEvent.username + '/                      description : '+ event.description  + '                /startAt  :       ' + event.startAt  +   '                / endAt   :      '+ event.endAt "
                            cssClass="aclass"
                            errorCorrectionLevel="correctionLevel">
                    </ngx-qrcode>
                    <div class="col-lg-6 mt-lg-0 mt-4 d-lg-flex align-items-center justify-content-end">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>






<div class="col-md-4">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">confirm your participation in {{event.eventName}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button  type="button" class="btn bg-gradient-primary" (click)="particper(event.eventId.toString())" >confirmer</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="col-md-4">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalMessage1" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">cancel your participation in event : {{event.eventName}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button  type="button" class="btn bg-gradient-primary" (click)="cancelParticipation(event.eventId.toString())" >confirmer</button>
                </div>
            </div>
        </div>
    </div>
</div>
