<section class="py-7 bg-gradient-dark position-relative overflow-hidden">
    <img class="position-absolute start-0 top-0 h-100 z-index-1 opacity-6" src="../../assets/img/shapes/pattern-lines.svg" alt="pattern">
    <div class="container position-relative z-index-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 d-flex justify-content-center flex-column">
                <h2 class="text-white">Get in Touch</h2>
                <p class="pe-5 text-white opacity-8 z-index-1">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</p>
                <p class="mt-4 text-white opacity-8 z-index-1">730 Dyonisie Wolf <br> Bucharest, RO 010458</p>
                <div class="d-flex p-2 text-white opacity-8">
                    <i class="material-icons text-sm">call</i>
                    <span class="text-sm ps-3">(+40) 772 100 200</span>
                </div>
                <div class="d-flex p-2 text-white opacity-8">
                    <i class="material-icons text-sm">email</i>
                    <span class="text-sm ps-3">hello@creative-tim.com</span>
                </div>
                <div class="d-flex p-2 text-white opacity-8">
                    <i class="material-icons text-sm">support</i>
                    <span class="text-sm ps-3">Open Support Ticket</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mt-5 mt-lg-0">
                    <form id="contact-form" method="post" autocomplete="off">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-static mb-4" >
                                        <label>Event Name</label>
                                        <input class="form-control"   name="eventName"  placeholder="Name OF EVENT" aria-label="First Name..." type="text"  [(ngModel)]= "event.eventName">
                                    </div>
                                </div>

                            </div>
                            <div>
                                <div class="input-group input-group-static">
                                    <label>short description</label>
                                    <input name="description" type="email" class="form-control" placeholder="" [(ngModel)]= "event.description" >
                                </div>
                            </div>

                            <div>

                                <label for="start">Start date:</label>

                                <input type="date" id="start" name="trip-start"
                                       value="2018-07-22"
                                       min="2018-01-01" max="2022-12-31"  name="createdAt" [(ngModel)]= "event.createdAt">


                            </div>
                            <div>

                                <label for="start">end at:</label>

                                <input type="date" id="endat" name="trip-start"
                                       value="2018-07-22"
                                       min="2018-01-01" max="2022-12-31" name="endAt" [(ngModel)]= "event.endAt">


                            </div>


                            <div class="row mt-3">

                                <div class="col-md-12">
                                    <button type="submit" class="btn bg-gradient-info mt-3" (click)="addEvent()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

