<header xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="page-header min-vh-85">
        <div *ngIf="this.course.domain == 'IT' ">
            <video class="video__container" autoplay muted loop>
                <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2012-10/large_watermarked/hd0097-H264%2075_preview.mp4" type="video/mp4">
            </video>
        </div>
        <div *ngIf="this.course.domain == 'MEDICAL' ">
            <video class="video__container" autoplay muted loop>
                <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2020-09/large_watermarked/200813_03_Doctors_4k_010_preview.mp4" type="video/mp4">
            </video>
        </div>
        <div *ngIf="this.course.domain == 'TECH' ">
            <video class="video__container" autoplay muted loop>
                <source class="video__media" src="http://localhost/Course/5/spring.mp4" type="video/mp4">
            </video>
        </div>
        <div *ngIf="this.course.domain == 'ARTISANAL' ">
            <video class="video__container" autoplay muted loop>
                <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2019-02/large_watermarked/181004_08_INDUSTRIAL_22_preview.mp4" type="video/mp4">
            </video>
        </div>
        <div *ngIf="this.course.domain == 'SOCIAL' ">
            <video class="video__container" autoplay muted loop>
                <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2020-01/large_watermarked/191126_2_HD_Party_Cropped_02_preview.mp4" type="video/mp4">
            </video>
        </div>
        <div *ngIf="this.course.domain == 'AGRICULTURE' ">
            <video class="video__container" autoplay muted loop>
                <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2015-06/large_watermarked/vegetablepatch1_Videvo_preview.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-flex">
                    <div class="card card-body blur text-md-start text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5">
                       <h2 class="text-dark mb-0">{{course.courseName}}</h2>
                        <h2 class="text-dark mb-4">{{course.domain}}</h2>
                            <span>Start date : {{course.startDate | date:'fullDate'}} </span><br>
                            <span>End date : {{course.endDate | date:'fullDate'}}</span><br>
                            <span>Course duration : {{course.nbHours}} Hours</span>

                        <div class="buttons">
                            <button type="button" (click)="joinCourse(courseId)" class="btn btn-rounded bg-gradient-primary mt-4">Participate</button>
                            <button type="button" class="btn btn-rounded btn-outline-secondary mt-4 ms-2">Contact former</button>

                        </div>

                    </div>

                </div>
                        </div>
                    </div>
            </div>
</header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div *ngFor="let cc of ccCourses">
    <div *ngIf="courseId === cc.courseId.toString() " class="row mt-5">
        <div class="col-sm-3 col-6 mx-auto" >
            <div  class="btn-group btn-group-lg">
                <button type="button" style="font-size: 10px" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                    Course Panel
                </button>
            <button type="button" style="font-size: 10px"  class="btn btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#exampleModalNotification">
                Delete Course
            </button>
            <button type="button" style="font-size: 10px"  class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModalSignup">
               Update Course
            </button>
            </div>
            <div class="modal fade" id="exampleModalNotification" tabindex="-1" aria-labelledby="exampleModalNotification" aria-hidden="true">
                <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                    <div class="modal-content bg-gradient-danger">
                        <div class="modal-header border-0">
                            <h6 class="modal-title text-white" id="modal-title-notification">You are about to delete this course</h6>
                            <button type="button" class="btn btn-link text-white my-1" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                        </div>
                        <hr class="horizontal light mt-0">
                        <div class="modal-body">
                            <div class="py-3 text-center text-white">
                                <i class="material-icons text-3xl">notifications_active</i>
                                <h4 class="heading mt-4 text-white">You should read this!</h4>
                                <p class="text-white opacity-8">Deleting this course will remove it permenantly and this process can not be undone ! </p>
                            </div>
                        </div>
                        <hr class="horizontal light mb-0">
                        <div class="modal-footer justify-content-between border-0">
                            <button  (click)="deleteCourse(courseId.toString())" data-bs-dismiss="modal"  type="button" class="btn btn-white my-1">Delete</button>
                            <button type="button" class="btn btn-link text-white my-1" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalLong" tabindex="-1" aria-labelledby="exampleModalLong" aria-hidden="true">
                <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">OwnerShip info</h5>
                                    <button type="button" class="btn btn-link text-dark my-1" data-bs-dismiss="modal">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <section style="background-color: ghostwhite">
                                        <h4 class="text-gradient text-primary text-center">Banned Users</h4>
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-10">
                                                    <div class="card">
                                                        <div class="table-responsive">
                                                            <table class="table align-items-center mb-0">
                                                                <thead>
                                                                <tr>
                                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Username</th>
                                                                    <th class="text-secondary opacity-7"></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody *ngFor="let u of bannedpart">
                                                                <tr>
                                                                    <td>
                                                                        <div class="d-flex px-2 py-1">
                                                                            <div>
                                                                                <img src="../../assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                                                                            </div>
                                                                            <div class="d-flex flex-column justify-content-center">
                                                                                <h6 class="mb-0 text-xs">{{u.name}}</h6>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <p class="text-xs font-weight-bold mb-0">{{u.username}}</p>
                                                                        <p class="text-xs text-secondary mb-0" ></p>
                                                                    </td>

                                                                </tr>

                                                                </tbody>

                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="flag-hr">
                                        <h4 class="text-gradient text-primary text-center">Streaming</h4>
                                        <hr class="flag-hr">

                                              <div style="display: inline-flex">
                                                 <a  style="cursor:pointer; margin-right: 10px" class="btn-floating btn-large waves-effect waves-light red" (click)="startSteam(courseId)"><i class="material-icons"><span class="material-symbols-outlined">play_circle</span></i></a>
                                                 <a style="cursor:pointer; margin-right: 10px" class="btn-floating btn-large waves-effect waves-light red" (click)="endStream(courseId)"><i class="material-icons"><span class="material-symbols-outlined">stop</span></i></a>
                                                 <a style="cursor:pointer; margin-right: 10px" class="btn-floating btn-large waves-effect waves-light red" (click)="addStream(courseId)"><i class="material-icons"><span class="material-symbols-outlined">add_circle</span></i></a>
                                                 <a style="cursor:pointer; margin-right: 10px" class="btn-floating btn-large waves-effect waves-light red" (click)="deleteStream(courseId)"><i class="material-icons"><span class="material-symbols-outlined">delete_sweep</span></i></a>

                                              </div>
                                                <br>
                                                <div  *ngIf="course.channelId !==null">
                                                    <h6>Stream key and Server</h6>
                                                    <h6  *ngIf="fieldTextType">{{course.streamKey}} <br> rtmps://rtmp.europe-west.hesp.live/live </h6>
                                                    <span>
                                                              <i class="fa" [ngClass]="{'fa-eye-slash': fieldTextType,'fa-eye': !fieldTextType }"  (click)="changebutton()">Show/Hide</i>
                                                </span>
                                                </div>


                                    </section>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalSignup" tabindex="-1" aria-labelledby="exampleModalSignup" aria-hidden="true">
                <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card card-plain">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1 text-center py-4">
                                        <h4 class="font-weight-bolder text-white mt-1">Update Course</h4>
                                    </div>
                                </div>
                                <div class="card-body pb-3">
                                    <form #f="ngForm" role="form text-start" (ngSubmit)="f.form.valid && updateCourse(courseId.toString())" xmlns="http://www.w3.org/1999/html">
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label">Course name</label>
                                            <input type="text" class="form-control" id="courseName" name="courseName"  [(ngModel)]="course.courseName" class="form-control" required>
                                        </div>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label">Start date</label>
                                            <input type="date" class="form-control" id="startDate" name="startDate"  [(ngModel)]="course.startDate" >
                                        </div>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label">End date</label>
                                            <input type="date" class="form-control" id="endDate" name="endDate"  [(ngModel)]="course.endDate" >
                                        </div>
                                        <div class="input-group input-group-outline mb-3">
                                            <label class="form-label" *ngIf="course.nbHours === null">Number</label>
                                            <label class="form-label" *ngIf="course.nbHours !== null"></label>

                                            <input class="form-control" type="number"  mode="decimal"  name="nbHours" [(ngModel)]="course.nbHours"/>
                                        </div>
                                        <br>
                                        <div class="input-group input-group-outline mb-3">
                                            <div class="select">
                                                <select class="select-text" name="domain" id="domain" [(ngModel)]="course.domain" >
                                                    <option  value="IT" >IT</option>
                                                    <option  value="MEDICAL">MEDICAL</option>
                                                    <option value="ARTISANAL">ARTISANAL</option>
                                                    <option value="TECH">TECH</option>
                                                    <option value="SOCIAL">SOCIAL</option>
                                                    <option value="AGRICULTURE">AGRICULTURE</option>
                                                </select>
                                                <span class="select-highlight"></span>
                                                <span class="select-bar"></span>
                                                <label class="select-label">Field</label>
                                            </div>
                                        </div>

                                        <button type="submit" data-bs-dismiss="modal" class="btn bg-gradient-primary w-auto me-2">Update</button>
                                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="py-md-7 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-md-6">
                <div class="info">
                    <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                        <i class="material-icons opacity-10">grid_view</i>
                    </div>
                    <h5 class="mt-3">Documents</h5>
                    <p>This course contains full documents of each lesson</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info">
                    <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                        <i class="material-icons opacity-10">quiz</i>
                    </div>
                    <h5 class="mt-3">Quiz</h5>
                    <p>This course contains several test with quiz</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info">
                    <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                        <i class="material-icons opacity-10">card_membership</i>
                    </div>
                    <h5 class="mt-3">Certificate</h5>
                    <p>If you pass the tests a certificate will be obtained</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info">
                    <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                        <i class="material-icons opacity-10">cast_for_education</i>
                    </div>
                    <h5 class="mt-3">Live stream</h5>
                    <p>Live stream feature to enhance learning quality</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="flag-hr">
</section>
<section style="background-color: ghostwhite">
    <h2 class="text-gradient text-primary text-center">Course participants</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="table-responsive">
                       <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Username</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Certificate status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" >Download certificate</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let cert of certificate">
                            <div><button class="btn btn-light" (click)="getCourseResult(cert.user.userId.toString(), courseId)">Generate certificates</button></div>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="../../assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-xs">{{cert.user.name}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{cert.user.username}}</p>
                                    <p class="text-xs text-secondary mb-0" ></p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm badge-success" *ngIf="cert.aquired==true">AQUIRED</span>
                                    <span class="badge badge-sm badge-danger" *ngIf="cert.aquired==false">NOT AQUIRED</span>
                                </td>
                                <td *ngIf="cert.aquired==true" class="align-middle text-center text-sm">
                                    <a style="cursor: pointer" (click)="getCert(cert.certificateId)" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">download</i></a>
                                </td>
                                <td class="align-middle" *ngFor="let cc of ccCourses" >
                                    <div class="btn-group btn-group-sm" aria-label="Basic example" *ngIf="courseId === cc.courseId.toString()">
                                        <button type="button" (click)="addSanction(cert.user.userId.toString(),courseId.toString(),pen[2])" class="btn btn-outline-info">Sanction</button>
                                        <button type="button" (click)="addSanction(cert.user.userId.toString(),courseId.toString(),pen[1])" class="btn btn-outline-warning">Warn</button>
                                        <button type="button" (click)="addSanction(cert.user.userId.toString(),courseId.toString(),pen[0])" class="btn btn-outline-danger">Kick</button>
                                    </div>
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 mt-5">
    <h2 class="text-gradient text-primary text-center">Course documents</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <div class="file-input" *ngFor="let cc of ccCourses">
                                <table *ngIf="cc.courseId.toString() === courseId">

                                    <td>
                                        <input type="file" id="file" class="file" (change)="onFileSelcted($event)">
                                        <label for="file">
                                            Select file
                                            <p class="file-name"></p>
                                        </label>

                                    </td>
                                    <td>
                                        <a class="file"  id="upload"(click)="onSaveFile()"></a>
                                        <label for="upload">Upload<p class="file-name"></p></label>
                                    </td>

                                </table>
                            </div>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Document name</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Download</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let fi of this.course.files">
                                <td>
                                    <div class="d-flex px-2">
                                        <div class="my-auto">
                                            <h6 class="mb-0 text-xs">{{ fi.name }}</h6>
                                        </div>
                                    </div>
                                </td>

                                <td >
                                    <a style="cursor: pointer" (click)="getFile(fi.url.slice(38,fi.url.length).toString(), fi.name)" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">download</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-7">
    <div class="container">
        <div class="row">
            <div class="col-md-5 ms-auto me-auto text-center">
                <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                    <i class="material-icons opacity-10">tips_and_updates</i>
                </div>
                <h3 class="text-dark mb-0 mt-3">General informations</h3>
                <p>These informations are valid for all courses, keep them on mind !</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 ms-auto my-auto">
                <div class="cursor-pointer">
                    <div class="card card-background">
                        <div class="full-background" style="background-image: url('https://c1.wallpaperflare.com/preview/71/694/403/conditions-period-contractual-terms-and-conditions-terms-of-payment.jpg')"></div>
                        <div class="card-body pt-7 text-center" style="height: 400px">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 me-auto my-auto ms-md-5">
                <div class="p-3 info-horizontal d-flex">
                    <div>
                        <h5>1. Participation restriction</h5>
                        <p>
                            You do only have the right to join two courses of the <b>SAME</b> field in a <b>semester</b>
                        </p>
                    </div>
                </div>
                <div class="p-3 info-horizontal d-flex">
                    <div>
                        <h5>2. Sanction system</h5>
                        <p>
                            Be active and a good learner to avoid being either kicked , warned or sanctioned. A kick or <b>three</b> warnings gets you out of the course, while a sanction revoques 1 point from your test.
                        </p>
                    </div>
                </div>
                <div class="p-3 info-horizontal d-flex">
                    <div>
                        <h5>3. Tests & Certificates</h5>
                        <p>
                           You have to answer the provided quizes when the former asks for, getting 70% of the total mark means you passed the course tests, and you are able to claim your certificate
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="py-7">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ms-auto me-auto text-center">
                    <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                        <i class="material-icons opacity-10">calendar_today</i>
                    </div>
                    <h3 class="text-dark mb-0 mt-3">Course Events</h3>
                    <p>Here you can find today's event and also previous and incoming events</p>
                </div>
            </div>
            <div class="row mt-5">

                    <div class="row mt-5">

                        <div class="col-lg-3 col-md-4">
                            <div class="info">
                            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                                <a  style="cursor:pointer; " data-bs-toggle="tooltip" data-bs-placement="top" title="add event" data-bs-toggle="modal" data-bs-target="#exampleModalForm"> <i class="material-icons opacity-10">add</i></a>
                            </div>
                                <h5 class="mt-3">Add Event</h5>
                                <p>Add live events and webinars schedules</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="info">
                            <div   class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                                <a  style="cursor:pointer; " data-bs-toggle="tooltip" data-bs-placement="top" title="delete event" data-bs-toggle="modal" data-bs-target="#exampleModalForm"> <i class="material-icons opacity-10">delete</i></a>
                            </div>
                                <h5 class="mt-3">Delete Event</h5>
                                <p>Delete canceled events</p>
                            </div>
                                <div class="modal fade" id="exampleModalForm" tabindex="-1" aria-labelledby="exampleModalForm" aria-hidden="true">
                                <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body p-0">
                                            <div class="card bg-gray-200 shadow border-0 mb-0">
                                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                                    <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
                                                        <h4 class="font-weight-bolder text-white mt-1 mb-0">Add event</h4>
                                                        <p class="mb-1 text-sm text-white">Enter your event details for this course</p>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <form #f="ngForm" role="form text-start">
                                                        <div class="input-group input-group-outline mb-3">
                                                            <label class="form-label">Event name</label>
                                                            <input type="text" class="form-control" id="eventName" name="eventName"  [(ngModel)]="eventName" class="form-control" required>
                                                        </div>
                                                        <div class="input-group input-group-outline mb-3">
                                                            <label class="form-label">Event Date</label>
                                                            <input type="date" class="form-control box" id="eventDate" name="eventDate" placeholder="hello" aria-placeholder=""  [pattern]="'hello1'" [(ngModel)]="eventDate" >
                                                        </div>
                                                        <div class="input-group input-group-outline mb-3">
                                                            <label class="form-label">Start Hour</label>
                                                            <input class="form-control" [formControl]="eventHourcontrol"  pattern="([0-1]{1}[0-9]{1}|20|21|22|23)" type="number"  mode="decimal"  name="eventHour" [(ngModel)]="eventHour"/>
                                                        </div>
                                                        <div class="input-group input-group-outline mb-3">
                                                            <label class="form-label">Start Minutes</label>
                                                            <input class="form-control" ngModel pattern="[0..59]" type="number"  mode="decimal"  name="eventMinutes" [(ngModel)]="eventMinutes"/>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="card-footer text-center pt-0">
                                                    <div *ngIf="eventHourcontrol.errors?.pattern">
                                                        Hour format should be 2 digit number
                                                    </div>
                                                    <button type="submit" (click)="addEvent()">add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="info">
                                <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                                    <a  style="cursor:pointer; " data-bs-toggle="tooltip" data-bs-placement="top" title="add event" data-bs-toggle="modal" data-bs-target="#exampleModalForm"> <i class="material-icons opacity-10">update</i></a>
                                </div>
                                <h5 class="mt-3">Update Event</h5>
                                <p>Update an event in case of mistakes made</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="info">
                                <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                                   <i class="material-icons opacity-10">info</i>
                                </div>
                                <h5 class="mt-3">More info</h5>
                                <p> if you want to find out previous or upcoming events press the arrow button on the calendar</p>
                            </div>
                        </div>

                    </div>

                <div class="col-md-4 ms-auto my-auto">
                    <div class="cursor-pointer">
                        <div class="card card-background">
                            <div class="full-background" style="background-image: url('https://www.onecalendar.nl/images/onecalendar.jpg')"></div>
                            <div class="card-body pt-7 text-center" style="height: 400px">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 me-auto my-auto ms-md-5">
                    <div class="p-3 info-horizontal d-flex">
                        <div class="app" style="height: 400px;width: 300px">
                            <nylas-agenda id="c12bdf48-1293-4d56-a707-878d5e1abfb4"  [attr.calendar_ids]="course.calendarId"></nylas-agenda>
                        </div>
                </div>
            </div>
        </div>
        </div>



    </section>

</section>
<div *ngFor="let certif of certificate" >
    <div *ngFor="let cc of ccCourses">
<section *ngIf="certif.user.userId == onlineUser.userId || cc.courseId.toString() === courseId ">
    <div class="row">
        <div class="col-md-5 ms-auto me-auto text-center">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                <i class="material-icons opacity-10">smart_display</i>
            </div>
        </div>
    </div>
    <h2 class="text-gradient text-primary text-center">Live stream</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card">

                    <div [attr.data-hesp-live-id]="course.channelId"  style="width: 1000px; height: 700px ;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
<section>
    <div class="container py-4">
        <div class="row" >
            <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                <div class="card d-flex justify-content-center p-4 shadow-lg">
                    <div class="row">
                        <div class="col-md-5 ms-auto me-auto text-center">
                            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
                                <i class="material-icons opacity-10">quiz</i>
                            </div>
                        </div>
                    </div>
                    <h2 class="text-gradient text-primary text-center">Quiz</h2>
                    <div class="card card-plain">
                        <form role="form" #f="ngForm" (ngSubmit)="f.form.valid && addQuiz()" id="contact-form"  autocomplete="off" style="overflow-y: auto; max-height: 250px;">
                            <div class="card-body pb-2">
                                <div class="col-md-6">
                                    <div class="input-group input-group-static mb-4">
                                        <label>Quiz theme</label>
                                        <input class="form-control" id="theme" name="theme" [(ngModel)]="quiz.theme" placeholder="eg. Women psychology" aria-label="Quiz theme" type="text" >
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Question</label>
                                            <input class="form-control" id="question" name="question" [(ngModel)]="question1.question" placeholder="eg. How to deal with?" aria-label="Question" type="text" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 ps-md-2">
                                        <div class="input-group input-group-static">
                                            <label>Score</label>
                                            <input type="number" id="score" name="score" [(ngModel)]="question1.score" class="form-control" placeholder="4" >
                                        </div>
                                    </div>


                                     <div  class="input-group input-group-static mb-4">
                                         <div class="col-md-6">
                                         <label>Answer</label>
                                        <textarea   [(ngModel)]="answer1.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                             <input type="boolean" name="correct" id="correct" [(ngModel)]="answer1.correct" class="form-control" placeholder="false" >
                                         </div>

                                      </div>
                                    <div  class="input-group input-group-static mb-4">
                                        <div class="col-md-6">
                                            <label>Answer</label>
                                            <textarea  [(ngModel)]="answer2.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                            <input type="boolean" name="correct" [(ngModel)]="answer2.correct"   class="form-control" placeholder="false" >
                                        </div>
                                    </div>
                                    <div  class="input-group input-group-static mb-4">
                                        <div class="col-md-6">
                                            <label>Answer</label>
                                            <textarea  [(ngModel)]="answer3.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                            <input type="boolean" name="correct" [(ngModel)]="answer3.correct"   class="form-control" placeholder="false" >
                                        </div>

                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Question</label>
                                            <input class="form-control"  name="question" [(ngModel)]="question2.question" placeholder="eg. How to deal with?" aria-label="Question" type="text" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 ps-md-2">
                                        <div class="input-group input-group-static">
                                            <label>Score</label>
                                            <input type="number"  name="score" [(ngModel)]="question2.score" class="form-control" placeholder="4" >
                                        </div>
                                    </div>


                                    <div  class="input-group input-group-static mb-4">
                                        <div class="col-md-6">
                                            <label>Answer</label>
                                            <textarea   [(ngModel)]="answer4.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                            <input type="boolean" name="correct"  [(ngModel)]="answer4.correct" class="form-control" placeholder="false" >
                                        </div>

                                    </div>
                                    <div  class="input-group input-group-static mb-4">
                                        <div class="col-md-6">
                                            <label>Answer</label>
                                            <textarea  [(ngModel)]="answer5.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                            <input type="boolean" name="correct" [(ngModel)]="answer5.correct"   class="form-control" placeholder="false" >
                                        </div>
                                    </div>
                                    <div  class="input-group input-group-static mb-4">
                                        <div class="col-md-6">
                                            <label>Answer</label>
                                            <textarea  [(ngModel)]="answer6.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                            <input type="boolean" name="correct" [(ngModel)]="answer6.correct"   class="form-control" placeholder="false" >
                                        </div>

                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="input-group input-group-static mb-4">
                                            <label>Question</label>
                                            <input class="form-control"  name="question" [(ngModel)]="question3.question" placeholder="eg. How to deal with?" aria-label="Question" type="text" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 ps-md-2">
                                        <div class="input-group input-group-static">
                                            <label>Score</label>
                                            <input type="number"  name="score" [(ngModel)]="question3.score" class="form-control" placeholder="4" >
                                        </div>
                                    </div>


                                    <div  class="input-group input-group-static mb-4">
                                        <div class="col-md-6">
                                            <label>Answer</label>
                                            <textarea   [(ngModel)]="answer7.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                            <input type="boolean" name="correct"  [(ngModel)]="answer7.correct" class="form-control" placeholder="false" >
                                        </div>

                                    </div>
                                    <div  class="input-group input-group-static mb-4">
                                        <div class="col-md-6">
                                            <label>Answer</label>
                                            <textarea  [(ngModel)]="answer8.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                            <input type="boolean" name="correct" [(ngModel)]="answer8.correct"   class="form-control" placeholder="false" >
                                        </div>
                                    </div>
                                    <div  class="input-group input-group-static mb-4">
                                        <div class="col-md-6">
                                            <label>Answer</label>
                                            <textarea  [(ngModel)]="answer9.answerContent" name="answerContent" class="form-control"  rows="2" placeholder="Answer"></textarea>
                                            <input type="boolean" name="correct" [(ngModel)]="answer9.correct"   class="form-control" placeholder="false" >
                                        </div>

                                    </div>

                                </div>
                                <button type="submit" class="btn bg-gradient-primary w-auto me-2">Add</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="deployform" class="deployform" (click)="gotoQuiz(courseId.toString())">
    <h6 style="color: white; padding-left: 12px">Quiz</h6>
    <i class="fa fa-question icon" aria-hidden="true"></i>


</div>
