<section class="card-area">
	<section class="card-section wrapper">
		<div class="card p-mr-3 p-mb-3">

						<div class="card-front__tp card-front__tp--city">
							<form #f="ngForm" (ngSubmit)="f.form.valid && addCourse() " xmlns="http://www.w3.org/1999/html">
								<span class="p-float-label">
									<input id="courseName" type="text" pInputText [(ngModel)]="course.courseName"  name="courseName">
									<label  for="courseName" >course name</label>
								</span>
								<p-calendar id="startDate" name="startDate" [showIcon]="true" [(ngModel)]="course.startDate" ></p-calendar>
								<p-calendar id="endDate" name="endDate" [showIcon]="true" [(ngModel)]="course.endDate" ></p-calendar>

								<select class="custom-dropdown small" name="domain" id="domain" [(ngModel)]="course.domain" >
									<option  value="IT" >IT</option>
									<option value="MEDICAL">MEDICAL</option>
									<option value="ARTISANAL">ARTISANAL</option>
									<option value="TECH">TECH</option>
									<option value="SOCIAL">SOCIAL</option>
									<option value="AGRICULTURE">AGRICULTURE</option>
								</select>

								<p-inputNumber mode="decimal" [showButtons]="true" [min]="1" [max]="200" [(ngModel)]="course.nbHours" name="nbHours"></p-inputNumber>
								<p-button  label="Submit"  type="submit" class="p-mr-2 p-mb-2"></p-button>
							</form>

						</div>

					</div>


	</section>
</section>
<router-outlet></router-outlet>
<app-root></app-root>