<header class="bg-gradient-dark">
	<div class="page-header min-vh-75" style="background-image: url('assets/img/examples/women1.jpg');">
		<span class="mask bg-gradient-dark opacity-6"></span>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center mx-auto my-auto">
					<h1 class="text-white">Find out our courses</h1>
					<p class="lead mb-4 text-white opacity-8">We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game</p>

				</div>
			</div>
		</div>
	</div>
</header>

<section class="py-5 bg-gradient-white">
	<section >

		<div>

						<div  class="container" >
							<h2 class="text-black-50 mb-3">Add course</h2>
							<form #f1="ngForm" (ngSubmit)="f1.form.valid && addCourse() " xmlns="http://www.w3.org/1999/html">
								<div class="input-group input-group-outline mb-3">
									<label class="form-label">Course name</label>
									<input type="text" class="form-control" id="courseName" name="courseName"  [(ngModel)]="course.courseName" class="form-control" required>
								</div>
								<div class="input-group input-group-outline mb-3">
								<label class="form-label">Start date</label>
								<input type="date" class="form-control" id="startDate" name="startDate"  [(ngModel)]="course.startDate" >
								</div>
								<div class="input-group input-group-outline mb-3">
									<label class="form-label">End date</label>
									<input type="date" class="form-control" id="endDate" name="endDate"  [(ngModel)]="course.endDate" >
								</div>
								<div class="input-group input-group-outline mb-3">
									<label class="form-label">Hours charge</label>
									<input class="form-control" type="number"  mode="decimal"  name="nbHours" [(ngModel)]="course.nbHours"/>
								</div>
								<br>
								<div class="input-group input-group-outline mb-3">
								<div class="select">
								<select  class="select-text" name="domain" id="domain" [(ngModel)]="course.domain" >
									<option  value="IT" >IT</option>
									<option  value="MEDICAL">MEDICAL</option>
									<option value="ARTISANAL">ARTISANAL</option>
									<option value="TECH">TECH</option>
									<option value="SOCIAL">SOCIAL</option>
									<option value="AGRICULTURE">AGRICULTURE</option>
								</select>
									<span class="select-highlight"></span>
									<span class="select-bar"></span>
									<label class="select-label">Field</label>
								</div>
								</div>

								<button type="submit" class="btn bg-gradient-primary w-auto me-2">Add</button>
							</form>
						</div>

		</div>

	</section>
</section>
