<form #f="ngForm" (ngSubmit)="f.form.valid && addCourse() ">
<span class="p-float-label">
				<input id="courseName" type="text" pInputText [(ngModel)]="course.courseName"  name="courseName">
				<label  for="courseName" >course name</label>
			</span>
    <p-calendar id="startDate" name="startDate" [showIcon]="true" [(ngModel)]="course.startDate" ></p-calendar>
    <p-calendar id="endDate" name="endDate" [showIcon]="true" [(ngModel)]="course.endDate" ></p-calendar>
<p-dropdown [options]="domain"  placeholder="Select a field" [showClear]="true" name="domain"  [(ngModel)]="course.domain"   ></p-dropdown>
<p-inputNumber mode="decimal" [showButtons]="true" [min]="1" [max]="200" [(ngModel)]="course.nbHours" name="nbHours"></p-inputNumber>
<p-button  label="Submit"  type="submit" class="p-mr-2 p-mb-2"></p-button>
</form>

<router-outlet></router-outlet>
<app-root></app-root>