<header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('assets/img/bg9.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white">Work with an amazing design</h1>
                    <p class="lead mb-4 text-white opacity-8">We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game</p>
                    <button type="submit" class="btn bg-white text-dark">Create Account</button>
                    <h6 class="text-white mb-2 mt-5">Find us on</h6>
                    <div class="d-flex justify-content-center">
                        <a href=""><i class="fab fa-facebook text-lg text-white me-4"></i></a>
                        <a href=""><i class="fab fa-instagram text-lg text-white me-4"></i></a>
                        <a href=""><i class="fab fa-twitter text-lg text-white me-4"></i></a>
                        <a href=""><i class="fab fa-google-plus text-lg text-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<br>
<br>
<br>
    <div class="twelve">
        <h1 class="h11">Courses</h1>
    </div>

    <section class="card-area">
        <section class="card-section wrapper">

            <div *ngFor="let cour of listCours ">
                <div *ngIf="cour.domain=='IT'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--city">

                                        <h1 class="card-front__heading" >
                                            {{cour.courseName}}
                                        </h1>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--city">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2012-10/large_watermarked/hd0097-H264%2075_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--city">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                   Starts on : {{cour.startDate}}
                                    <br>
                                   Ends : {{cour.endDate}}
                                    <button (click)="openGameDetails(cour.courseId.toString())"  class="inside-page__btn inside-page__btn--city">Details</button>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='TECH'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--ski">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--ski">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="http://localhost/Course/5/spring.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--ski">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())" class="inside-page__btn inside-page__btn--ski">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='MEDICAL'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--beach">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--beach">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2020-09/large_watermarked/200813_03_Doctors_4k_010_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--beach">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())" class="inside-page__btn inside-page__btn--beach">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='ARTISANAL'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--artisanal">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--artisanal">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2019-02/large_watermarked/181004_08_INDUSTRIAL_22_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--artisanal">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())" class="inside-page__btn inside-page__btn--artisanal">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='AGRICULTURE'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--agriculture">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--agriculture">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2015-06/large_watermarked/vegetablepatch1_Videvo_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--agriculture">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())" class="inside-page__btn inside-page__btn--agriculture">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='SOCIAL'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--social">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--social">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2020-01/large_watermarked/191126_2_HD_Party_Cropped_02_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--social">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())"  class="inside-page__btn inside-page__btn--social">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>

<router-outlet></router-outlet>
