<header class="bg-gradient-dark" style="background-color: rgba(86,189,158,0.27)">
    <div class="page-header min-vh-75"  style=" background-image: url('assets/img/examples/you.jpg');">
        <span class="mask bg-gradient-dark opacity-3"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white">Find out our courses</h1>
                    <p class="lead mb-4 text-white opacity-8">Here you can find a variety of courses on different fields</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container" style="padding-left: 120px">
    <div class="my-5 py-3 bg-gradient-dark  border-radius-xl" style="background-image:url('https://static.ivanti.com/sites/marketing/media/images/blog/2019/02/women.in.tech.jpg')" loading="lazy">
        <div class="container position-relative z-index-2">
            <div class="row">
                <div class="col-lg-5 col-md-8 m-auto text-start">
                    <h5 class="text-white mb-lg-2 mb-8">
                         Create a new course and start your journey with our amazing features.
                    </h5>
                </div>
                <div class="col-lg-6 m-auto">
                    <div class="row">
                        <div class="col-sm-4 col-6 ps-sm-0 ms-auto">
                            <button type="button" class="btn bg-gradient-warning mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block" (click)="btnClick()">CREATE COURSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div >
    <div class="py-3" >
        <div class="container">
            <div class="row justify-space-between py-2">
                <div class="col-lg-4 mx-auto">
                    <div class="input-group input-group-dynamic mb-4">
                        <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                        <input class="form-control" [(ngModel)]="courseNameSearch" placeholder="Search" type="text" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="card-area"  >
        <section class="card-section wrapper" style="margin-left: 150px">
            <div *ngFor="let cour of listCours | filter:courseNameSearch | paginate: { itemsPerPage: 6, currentPage: p }">
                <div *ngIf="cour.domain=='IT'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--city">

                                        <h1 class="card-front__heading" >
                                            {{cour.courseName}}
                                        </h1>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--city">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2012-10/large_watermarked/hd0097-H264%2075_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--city">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                   Starts on : {{cour.startDate}}
                                    <br>
                                   Ends : {{cour.endDate}}
                                    <button (click)="openGameDetails(cour.courseId.toString())"  class="inside-page__btn inside-page__btn--city">Details</button>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='TECH'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--ski">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--ski">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="http://localhost/Course/5/spring.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--ski">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())" class="inside-page__btn inside-page__btn--ski">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='MEDICAL'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--beach" >

                                        <h3 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h3>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--beach">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2020-09/large_watermarked/200813_03_Doctors_4k_010_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--beach">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())" class="inside-page__btn inside-page__btn--beach">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='ARTISANAL'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--artisanal">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--artisanal">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2019-02/large_watermarked/181004_08_INDUSTRIAL_22_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--artisanal">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())" class="inside-page__btn inside-page__btn--artisanal">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='AGRICULTURE'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--agriculture">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--agriculture">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2015-06/large_watermarked/vegetablepatch1_Videvo_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--agriculture">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())" class="inside-page__btn inside-page__btn--agriculture">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cour.domain=='SOCIAL'">
                    <div class="card p-mr-3 p-mb-3">
                        <div class="flip-card">
                            <div class="flip-card__container">
                                <div class="card-front">
                                    <div class="card-front__tp card-front__tp--social">

                                        <h2 class="card-front__heading">
                                            {{cour.courseName}}
                                        </h2>
                                        <p class="card-front__text-price">
                                            {{cour.domain}}
                                        </p>
                                    </div>

                                    <div class="card-front__bt">
                                        <p class="card-front__text-view card-front__text-view--social">
                                            More
                                        </p>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <video class="video__container" autoplay muted loop>
                                        <source class="video__media" src="https://cdn.videvo.net/videvo_files/video/free/2020-01/large_watermarked/191126_2_HD_Party_Cropped_02_preview.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="inside-page">
                            <div class="inside-page__container">
                                <h3 class="inside-page__heading inside-page__heading--social">
                                    {{cour.courseName}}
                                </h3>
                                <p class="inside-page__text">
                                    Starts on : {{cour.startDate}}
                                    <br>
                                    Ends : {{cour.endDate}}
                                </p>
                                <button (click)="openGameDetails(cour.courseId.toString())"  class="inside-page__btn inside-page__btn--social">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </section>
</div>
<div class="col-sm-7 ms-auto text-end" style="margin-right: 550px">
    <ul class="pagination pagination-primary mt-7">
        <li class="page-item ms-auto">

        </li>

        <pagination-controls (pageChange)="p = $event"></pagination-controls>

        <li class="page-item">

        </li>
    </ul>
</div>
<router-outlet></router-outlet>
