

<header class="position-relative">
    <div class="page-header min-vh-75 position-relative" style="background-image: url('https://images.unsplash.com/photo-1460794418188-1bb7dba2720d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80');" loading="lazy">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center mx-auto mt-md-n7">
                    <h4 class="text-white fadeIn1 fadeInBottom">Join Our Family</h4>
                    <h1 class="text-white fadeIn2 fadeInBottom">Find a job you love</h1>
                    <p class="lead mb-5 fadeIn3 fadeInBottom text-white opacity-8">We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to help this community</p>
                    <div class="row">
                        <div class="col-lg-6 d-flex align-items-center ms-auto">
                            <div class="input-group input-group-outline">
                                <label class="form-label">Type here</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-lg-2 d-flex align-items-center me-auto">
                            <button type="button" class="btn bg-gradient-dark w-100 mb-0 mt-3 mt-lg-0">Search</button>


                        </div>
                        <div class="col-lg-4 d-flex align-items-center mt-3">
                            <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModalSignup">
                                Add New Offer
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>




<!-- Modal -->
<div class="modal fade" id="exampleModalSignup" tabindex="-1" aria-labelledby="exampleModalSignup" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1 text-center py-4">
                            <h4 class="font-weight-bolder text-white mt-1">New offer</h4>
                            <p class="mb-1 text-white text-sm">Create a new offer and help her to shine</p>
                        </div>
                    </div>
                    <div class="card-body pb-3">
                        <form role="form text-start">
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Offer Title</label>
                                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="offre.title" #name="ngModel" required>
                            </div>

                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Location</label>

                                <div class="input-group input-group-outline mb-3">
                                    <select class="form-control" name="name" [(ngModel)]="offre.location"  #name="ngModel" id="choice-button" placeholder="Language" required>
                                        <option value="Choice 1" selected>Tunis</option>
                                        <option value="Choice 2">Sousse</option>
                                        <option value="Choice 3">Sfax</option>
                                        <option value="Choice 4">Djerba</option>
                                    </select>
                                </div>



                                <!-- mandatory scripts -->
                                <script src="./assets/js/plugins/choices.min.js"></script>
                                <script>
                                    if (document.getElementById("choices-button")) {
                                        var element = document.getElementById("choices-button");
                                        const example = new Choices(element, {});
                                    }
                                </script>
                            </div>

                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">description</label>
                                <input type="text" class="form-control" id="description" name="name" [(ngModel)]="offre.description" #email="ngModel" class="form-control" required>
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">requiredCandidates</label>
                                <input type="text" class="form-control" id="requiredCandidates" name="name" [(ngModel)]="offre.requiredCandidates" #email="ngModel" class="form-control" required>
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">approxSalary</label>
                                <input type="text" class="form-control" id="approxSalary" name="name" [(ngModel)]="offre.approxSalary" #email="ngModel" class="form-control" required>
                            </div>
                            <div class="text-center">
                                <button (click)="addOffer()" type="submit" class="btn bg-gradient-primary w-100 mt-4 mb-0">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="jobs">
    <h1 class="jobs-title" align="center">Jobs</h1>
    <div class="jobs-cards" >
        <article class="job" *ngFor="let offre of listOffers" >
            <h2 class="job-title" class="card-header text-center pt-4 pb-3 bg-transparent">{{offre.title}}</h2>
            <div class="card-header text-center pt-4 pb-3 bg-transparent">
                <i class="material-icons text-gradient text-primary text-5xl">savings</i>

                <h1 class="font-weight-bold mt-2 text-blue">
                    <small class="text-lg align-top me-1">TND</small>{{offre.approxSalary}}<small class="text-lg">/mo</small>
                </h1>
            </div>

<div class="d-flex justify-content-between">
       <span class=" clorPink  cursor-pointer ">Details</span>

    <div>
        <i class="material-icons text-gradient text-primary text-5xl">room</i>
        <span style="margin-top: -50px" >{{offre.location}}</span>
    </div>
</div>

            <ul class="list-unstyled my-4">
                <li class="align-items-center">

                    <b>Required Candidates:</b> <span>{{offre.requiredCandidates}}</span>
                </li>
                <li class="align-items-center my-2">
                    <b>Description : </b> <span>{{offre.description}}</span>
                </li>
                <li class="align-items-center my-2">
                    <b>Founders : </b> <span>{{offre.createdAt | date:'fullDate'}}</span>
                </li>

            </ul>



            <div class="card-meta d-flex justify-content-between">
                <button (click)="deleteOffer(offre.offerId)" type="button" class="btn btn-primary">DELETE</button>
                <button    data-bs-toggle="modal"  data-bs-target="#editOfferModal"   (click)="getOfferById(offre)"  type="button" class="btn btn-primary">EDIT</button>


               </div>


            <div>
            <a href="javascript:;" class="btn btn-icon bg-gradient-primary d-lg-block mt-3 mb-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Apply Now
                <i class="fas fa-arrow-right ms-1"></i>
            </a>
            </div>
        </article>
    </div>

</section>
<!-- Modal -->

<div class="modal fade" id="editOfferModal" tabindex="-1" aria-labelledby="editProfileModal" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1 text-center py-4">
                            <h4 class="font-weight-bolder text-white mt-1">Edit Offer</h4>
                            <p class="mb-1 text-white text-sm">Change your Offer informations</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form role="form" #f="ngForm" (ngSubmit)=" updateOffer()">
                            <div class="row justify-space-between text-center py-2">

                                <p class="text-sm font-weight-bold text-secondary text-border d-inline z-index-2 bg-white px-3">
                                    Offer informations
                                </p>
                            </div>


                            <div class="input-group input-group-static">

                                <label >Offer title</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Title" [(ngModel)]="offre2.title" #title="ngModel" required>
                            </div>

                            <div class="input-group input-group-static">
                                <label>Location</label>
                                <input type="email" class="form-control" id="email" name="location" placeholder="Email" [(ngModel)]="offre2.location" #location="ngModel" >
                            </div>

                            <div class="input-group input-group-static" >
                                <label>Approx Salary</label>
                                <input type="text" id="birthDate" class="form-control" name="approxSalary" placeholder="Birth Date"  [(ngModel)]="offre2.approxSalary" #approxSalary="ngModel" required>
                            </div>

                            <div class="input-group input-group-static" >
                                <label>Creation Date</label>
                                <input type="date" id="establishmentDate" class="form-control" name="createdAt" placeholder="Establishment Date"  [(ngModel)]="offre.createdAt" #createdAt="ngModel" required>                                </div>

                            <div class="input-group input-group-static">
                                <label>Required candidates</label>
                                <input type="phone" id="phone" name="requiredCandidates" placeholder="Phone Number"  [(ngModel)]="offre2.requiredCandidates" #requiredCandidates="ngModel" class="form-control" required>
                            </div>

                            <div class="input-group input-group-static">
                                <label> Description</label>
                                <input type="text" id="activityDomain" class="form-control" name="description" placeholder="Activity Domain"  [(ngModel)]="offre2.description" #description="ngModel" required>
                            </div>



                            <div class="text-center">
                                <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Edit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" #f="ngForm" (ngSubmit)="applyOffer(5) ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply</h5>
            </div>
            <div>
                <br>
                <label> To confirm your application, you should send your Curriculum Vitae.
                </label>
                    <br>
                <div class="input-group input-group-static">
                    <div  class="modal-body">Your CV</div>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <br>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn bg-gradient-dark mb-0" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn bg-gradient-primary mb-0">Confirm Application</button>
            </div>
        </div>
        </form>

    </div>
</div>
