body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddeeef;
  padding-bottom: 70px;
}

h1,
h2 {
  color: rgb(220,34,101);
  font-family: "Bungee", cursive;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 0px;
  padding-top: 30px;
}

h2 {
  font-size: 35px;
  margin: 0px;
  padding-bottom: 30px;
}

p {
  color: #2c3d55;
  font-family: "Josefin Sans", sans-serif;
}

label {
  color: #61707d;
  font-family: "Josefin Sans", sans-serif;
}






img {
  width: 200px;
  padding-bottom: 10px;
  border-radius: 50%;
  /*display: none;*/
  visibility: hidden;
}
.quiz-container{
  display:block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

