<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('assets/img/examples/quiz-bnr-feb18-2.jpg');">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1  style="color: #d91f46">Pass this Quiz for a Certificate</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div style="background-color:rgb(217,31,70)">
    <br>
<div class="quiz-container" *ngFor="let qui of quizez">
    <br>
    <h1>{{qui.theme}}</h1>
    <hr>
    <ul *ngFor="let quest of qui.questions" style="padding-left: 20px ;padding-top:20px" >
        <p>{{quest.question}} </p>
        <div id="{{quest.questionId}}">
            <ui *ngFor="let ans of quest.answers" name="questionId">
            <input type="radio" name="{{quest.questionId}}"  checked (click)="getQuestionAnswer(quest.questionId,ans.answerId)">
            <label  class="borough">{{ans.answerContent}}</label><br>
            </ui>
        </div>
        <hr>
    </ul>
    <button type="button" class="btn bg-gradient-primary w-auto me-2" (click)="addAnswers()">Validate</button>
    <br>
</div>
</div>










