<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>
        <!--<div class="row">
            <div class="col-md-9">1</div>
            <div class="col-md-3">3</div>
        </div>-->

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button  pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>
                    <button style="background-color: red" pButton pRipple label="delete All" icon="pi pi-trash" class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>
                </ng-template>

                <ng-template pTemplate="right">

                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="events">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">management event</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">

                    <tr>
                        <th style="width: 3rem">

                        </th>
                        <th pSortableColumn="name">event Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="address">address <p-sortIcon field="address"></p-sortIcon></th>
                        <th pSortableColumn="description">description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="createdAt">createdAt <p-sortIcon field="createdAt"></p-sortIcon></th>

                        <th pSortableColumn="endAt">endAt <p-sortIcon field="endAt"></p-sortIcon></th>
                        <th pSortableColumn="MaxPlace">MaxPlace <p-sortIcon field="MaxPlace"></p-sortIcon></th>
                        <th pSortableColumn="montantCollecte">montantCollecte <p-sortIcon field="montantCollecte"></p-sortIcon></th>

                        </tr>
                </ng-template>
                <ng-template pTemplate="body" let-event  >

                    <tr>
                        <td>

                        </td>
                        <td><span class="p-column-title"></span>
                            {{event.eventName}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{event.address}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{event.description}}
                        </td>

                        <td><span class="p-column-title"></span>
                            {{event.startAt}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{event.endAt}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{event.maxPlace}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{event.montantCollecte}}
                        </td>

                        <td>

                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(event.eventId)"></button>

                        </td>


                    </tr>

                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{events ? events.length : 0 }} event.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="eventDialog" [style]="{width: '450px'}" header="createEvent" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">

                <div class="p-field">
                    <label for="eventName">event Name</label>
                    <input type="text" pInputText id="eventName" [(ngModel)]="event.eventName" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !event.eventName">Name event is required.</small>
                </div>
                <div class="p-field">
                    <label for="eventName">address</label>
                    <input type="text" pInputText id="address" [(ngModel)]="event.address" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !event.address">address is required.</small>
                </div>
                <div class="p-field">
                    <label for="description">Description</label>
                    <textarea  [(ngModel)]="event.description" id="description" pInputTextarea  required rows="3" cols="20"></textarea>
                </div>

                <div>
                    <label for="startAt">startAt</label>
                    <p-calendar id="startAt" name="startAt" [showIcon]="true" [(ngModel)]="event.startAt" ></p-calendar>
                </div>
                <div>
                    <label for="endAt">endAt</label>
                    <p-calendar id="endAt" name="endAt" [showIcon]="true" [(ngModel)]="event.endAt" ></p-calendar>
                </div>



            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" ></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
            </ng-template>
        </p-dialog>






        <p-table [value]="events" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                Header
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>eventName</th>
                    <th>createurEvent</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-event >
                <tr>
                    <td>{{event.eventName}}</td>

                    <td>{{event.createurEvent?.username}}</td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                Footer
            </ng-template>
        </p-table>



        <div *ngIf="dispalyChart" class="card">
            <h5 class="centerText"> Chart</h5>
            <p-chart type="bar" [data]="barData"></p-chart>
        </div>







        <h5>Vertical</h5>
        <p-table [value]="donations" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:200px">donor</th>
                    <th style="min-width:200px">amount</th>
                    <th style="min-width:200px">code payment</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-d>
                <tr>
                    <td style="min-width:200px">{{d.donor.username}}</td>
                    <td style="min-width:200px">{{d.amountForEvent}}</td>
                    <td style="min-width:200px">{{d.codePayement}}</td>

                </tr>
            </ng-template>
        </p-table>

    </div>










    </div>

