<div class="p-col-12">
    <div class="card">
        <h4>Courses overview</h4>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-xl-3">
                <div class="card no-gutter widget-overview-box widget-overview-box-1">
                                <span class="overview-icon">
                                    <i class="pi pi-shopping-cart"></i>
                                </span>
                    <span class="overview-title">Number of courses</span>
                    <div class="p-grid overview-detail">
                        <div class="p-col-6">
                            <div class="overview-number">640</div>
                            <div class="overview-subtext">Pending</div>
                        </div>
                        <div class="p-col-6">
                            <div class="overview-number">1420</div>
                            <div class="overview-subtext">Completed</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-xl-3">
                <div class="card no-gutter widget-overview-box widget-overview-box-2">
                                <span class="overview-icon">
                                    <i class="pi pi-dollar"></i>
                                </span>
                    <span class="overview-title">Revenue</span>
                    <div class="p-grid overview-detail">
                        <div class="p-col-6">
                            <div class="overview-number">$2,100</div>
                            <div class="overview-subtext">Expenses</div>
                        </div>
                        <div class="p-col-6">
                            <div class="overview-number">$9,640</div>
                            <div class="overview-subtext">Income</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-xl-3">
                <div class="card no-gutter widget-overview-box widget-overview-box-3">
                                <span class="overview-icon">
                                    <i class="pi pi-users"></i>
                                </span>
                    <span class="overview-title">Customers</span>
                    <div class="p-grid overview-detail">
                        <div class="p-col-6">
                            <div class="overview-number">8272</div>
                            <div class="overview-subtext">Active</div>
                        </div>
                        <div class="p-col-6">
                            <div class="overview-number">25402</div>
                            <div class="overview-subtext">Registered</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-xl-3">
                <div class="card no-gutter widget-overview-box widget-overview-box-4">
                                <span class="overview-icon">
                                    <i class="pi pi-comment"></i>
                                </span>
                    <span class="overview-title">Comments</span>
                    <div class="p-grid overview-detail">
                        <div class="p-col-6">
                            <div class="overview-number">12</div>
                            <div class="overview-subtext">New</div>
                        </div>
                        <div class="p-col-6">
                            <div class="overview-number">85</div>
                            <div class="overview-subtext">Responded</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>